service: rr-product-service
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-1

functions:
  postProduct:
    handler: src/handlers/products/postProduct.handler
    events:
      - http:
          path: product
          method: post

plugins:
  - serverless-esbuild
  - serverless-offline

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: esnext
    format: esm # Output as ESM
    platform: node
    mainFields: ['module', 'main']
    conditions: ['module', 'import', 'require']
    alias:
      '@': './src'
    concurrency: 10
