version = 0.1

[default]
[default.global.parameters]
stack_name = "rr-product-service"

[default.build.parameters]
cached = true
parallel = true

[default.validate.parameters]
lint = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = true
region = "us-east-1"
s3_prefix = "rr-product-service"

[default.local_start_api.parameters]
warm_containers = "EAGER"
skip_pull_image = true

[default.local_invoke.parameters]
skip_pull_image = true
